.btn9{
    height: 50px;
    width: 160px;
    margin-top: 40px;
    border: none;
    background-color: rgb(216,125,74);
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 501;
    cursor: pointer;
}

.btn9:hover{
    transition: 0.3s;
    background-color: rgb(220, 158, 121); 
}