.subFooter{
    height: 588px;
    width: 544px;
    background-color: rgb(108, 108, 108);
    margin-top: 240px;
    margin-left: 750px;
    border-radius: 10px;
}

.subFooter2{
    height: 285.4;
    width: 580px;
    margin-top: -420px;
    margin-left: 180px;
}

.txt11{
    font-size: 50px;
    font-family: 'Red Hat Display', sans-serif;
}

.txt112{
    color: #d87d4a
}

.img7{
    height: 588px;
    width: 544px;
    border-radius: 10px;
}

.txtt{
    font-size: 17px;
    color: rgb(154,149,161);
    height: 149.4px;
    width: 530px;
    font-family: 'Red Hat Display', sans-serif;
}