.box3 {
    color: rgb(1, 1, 1);
    font-family: 'Red Hat Display', sans-serif;
    width: 350px;
    margin-left: 900px;
    margin-top: -400px;
}

.txt7{
    color: rgb(216,125,74);
}

.txt22{
    color: rgb(154,149,161);
    width: 450px;
}